body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #457fca, #6642d1, #f2617b);
    background-size: 400% 400%;
    height: 100vh;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.v-hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s linear, opacity .5s ease;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.main {
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center;
}

h3 {
    color: #fafafa;
    letter-spacing: 2px;

}

.check-label {
    cursor: pointer;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.w-100 {
    width: 40%;
    margin: auto;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    border-left: 1.4px solid #5dc2d6;
    border-bottom: 1.4px solid #5dc2d6;
    font-size: 19px;
    color: #fff;
    padding: .2em;
}

.input-result {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    border-left: 1.4px solid #5dc2d6;
    border-bottom: 1.4px solid #5dc2d6;
    font-size: 19px;
    color: #fff;
    padding: .2em;
}

.input::placeholder {
    color: #eaeaea;
}

.input-result::placeholder {
    color: #cbcbcb;
}

.top {
    display: inline-block;
    width: 105%;
    background-color: #5dc2d6;
    height: 1.4px;
    top: 0;
    right: -10px;
    border-radius: 0 0 50px 0;
}

.right {
    display: inline-block;
    height: 32px;
    background-color: #5dc2d6;
    width: 1.3px;
    top: 0;
    right: -10px;
}

.btn {
    margin-top: 1.5em;
    outline: none;
    border: 1px solid #b9f467;
    font-size: 1.1em;
    padding: .2em;
    width: 130px;
    height: 34px;
    background-color: #b9f467;
    color: #333;
    transition: background .6s ease, color .6s ease;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    color: #fafafa;
}

.generated {
    margin-top: 1.3em;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    height: 30px;
    color: #fafafa;
    background-color: rgba(17, 17, 17, 0.893);
    border-radius: 20px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.6);
}

.hint {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.bg-hint {
    margin-top: 2.5em;
    background-color: #e0e0e086;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px 5px rgba(204, 204, 204, 0.493);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: .5em .8em;
    transition: all .4s linear;
}

.arrow {
    cursor: pointer;
    user-select: none;
    color: #fafafa;
    font-size: 1em;
    margin: 0;
}

.ul-hint {
    visibility: hidden;
    opacity: 0;
    list-style: none;
    color: #fafafa;
    padding: 0;
    text-align: start;
    transition: visibility .4s ease-out, opacity .2s ease-out;
}

.ul-hint-after {
    visibility: visible;
    opacity: 1;
}

.ul-hint li {
    padding: .3em 0;
    display: flex;
    align-items: center;
}

.li-after {
    position: relative;
}

.li-after::after {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #319a21;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 3.5px;
    bottom: 8px;
}

.ul-hint li::before {
    content: "";
    background: transparent;
    display: inline-block;
    border: 1.3px solid;
    margin-right: 1em;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.hint-p {
    color: #fafafa;
}

.range {
    margin-top: 2em;
    border-radius: 10px;
    height: 12px;
    /* transition: all .5s linear; */
}

.range::-webkit-progress-bar {
    background-color: #fafafa;
    border-radius: 10px;
}

.range::-webkit-progress-value {
    background-color: transparent;
    border-radius: 10px;
    transition: all .5s linear;

}

.weak::-webkit-progress-value {
    background-color: red;
}

.mid::-webkit-progress-value {
    background-color: rgb(236, 170, 49);
}

.mid-after::-webkit-progress-value {
    background-color: rgb(199, 129, 0);
}

.strong::-webkit-progress-value {
    background-color: rgb(0, 176, 0);
}

@media (max-width:299.4px) {
    .top {
        width: 109%
    }
}

@media (min-width:299.5px) and (max-width:465.5px) {
    .main {
        width: 90%;
        padding: 1em;
    }

    .main h3 {
        letter-spacing: unset;
    }

    .w-100 {
        width: 90%;
    }

    .top {
        width: 103%;
    }

    .right {
        height: 31.5px;
    }
}